#sidebar{
    background-color: #09021f;
    width: 12vw;
    height: 100vh;
    position: fixed;
    top: 6vw;
    left: 0;
    margin: 0;
    text-align: center;
    
    display: inline-block;
    
    font-size: 16px;
    font-size: 2vmin;
    font-family: Lato;
    color: white;
}

#topbar{
    background-color: #09021f;
    width: 100vw;
    height: 6vw;
    
    display: inline-block;
    
    margin: 0;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
    
    font-family: Lato;
}

button{
    padding-top: 25px;
    padding-bottom: 25px;
    background: transparent;
    color: white;
    border-width: 0px;
    font-family: inherit;
    font-size: inherit;
    word-wrap: break-word;
    width: inherit;
}

button:focus{
    outline: 0;
}

button:hover{
    color: turquoise;
    cursor: pointer;
}

.active{
    background: #001a47;
    color: turquoise;
}

#pagecontents{
    font-size: 15px;
    font-family: Lato;
    margin-left: vw;
    margin-top: 6vw;
    padding: 5px;
}


#contactcontainer{
    background-color: #23272A;
    width: auto;
    height: auto;
    position: fixed;
    bottom: 0;
    right: 0;
    margin: 0;
    padding: 0;
    text-align: Left;
    border-radius: 5px;
    
    display: inline-block;
    
    font-size: 16px;
    font-size: 2vmin;
    font-family: Lato;
    color: white;
}

#discordlogo{
    
}

#logo{
    left: calc(6vw - 60px);
    top: calc(3vw - 60px);
    position: absolute;
    width: 120px;
    height: 120px;
}

@media (max-width: 700px){
    #sidebar{
        position: relative;
        text-align: center;
        left: 0;
        width: 100vw;
        display: inline-block;
        height: auto;
        margin: 0;
        margin-top: 0px;
        padding: 0;
        display: block;
    }
    #sidebar button{
        font-size: 20px;
        width: 100%;
        margin-left: 0;
        padding-left: 0;
    }
    
    #pagecontents{
        margin: 0;
        margin-top: 75px;
        padding: 0;
        display: block;
    }
    
    #topbar{
        height: 50px;
    }
    
    #logo{
        align-self: center;
        top: calc(1vh - 30px);
        left: calc(10vw - 50px);
        width: 100px;
        height: 100px;
        position: absolute;
    }
}

#logo:hover{
    opacity:0.5;
}


.centered {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

h3{
    padding: 0px;
    margin: 0;
}

body{
    background-color:whitesmoke;
    margin: 0;
}



b{
    font-size: 25px;
}
