.Button{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;

    color: white;
    flex-direction: column;

    padding: 0; margin-right: 25px;
    width: 150px; height: 75px;

    text-decoration: none;

    outline: none;
}

.Button:hover, .active{
    border-bottom: 2px solid #00C0FF;
    cursor: pointer;
}

@media screen and (max-width: 900px){
    .Button{
        margin: 0;
    }
}
