.form-button {
	padding: 8px 10px;
	background: #7e57c2;
	display: inline-block;
	border-radius: 2px;
	cursor: pointer;
	user-select: none;
	-ms-user-select: none;
	-moz-user-select: none;
	-webkit-user-select: none;
	transition: background-color 0.1s ease-in-out;
}
.form-button:hover {
	background-color: #9575cd;
}
.form-button:active {
	background-color: #673ab7;
}