.SectionBox{
    color: white;

    margin: 0;
    display: flex;
    flex-direction: column;

    justify-content: center;
    align-items: center;
    
    text-align: center;
    word-wrap: break-word;
}

.SectionBox h2{
    padding-left: 25%;
    padding-right: 25%;

    margin: 0;
    font-size: 40px;
}

.SectionBox p{
    padding-left: 25%;
    padding-right: 25%;

    line-height: 40px;
    margin: 0;
    font-size: 20px;
}

.SectionBox iframe{
    width: 80vw;
    height: calc(80vw * 0.5625);
}

@media screen and (max-width:900px){
    .SectionBox{
        margin: 0;
        padding: 0;
    }

    .SectionBox h2{
        padding: 0;
    }

    .SectionBox p{
        padding: 0;
    }

    
}