.TypedHeading{
    white-space: nowrap;
    overflow: hidden;
    animation-fill-mode: forwards;

    width: 0;
    transition: width 2s;
}

.FadeBody{
    opacity: 0;
    transition: opacity 2s;
}

.FadeAnimation{
    opacity: 1;
}

.TypingAnimation{
    width: 97%;
}
